<form [formGroup]="form">
  <ng-container *ngFor="let item of items; let i = index">
    <mat-form-field appearance="fill">
      <mat-label>商品名{{ i + 1 }}</mat-label>
      <input matInput formControlName="{{ item.name }}" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>値段{{ i + 1 }}</mat-label>
      <input matInput type="number" formControlName="{{ item.price }}" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>販売元{{ i + 1 }}</mat-label>
      <input matInput formControlName="{{ item.seller }}" />
    </mat-form-field>
    <br />
  </ng-container>
  <button nbButton (click)="addFields()">追加</button>
  <button nbButton (click)="displayFields()">表示</button>
</form>
