<h1>TEST</h1>

<mat-form-field appearance="fill" class="form-field">
  <mat-label>Input</mat-label>
  <input
    type="text"
    matInput
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
  <button
    *ngIf="myControl.value"
    class="clear-button"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="myControl.setValue('')"
  >
    <!-- <mat-icon>close</mat-icon> -->
    <i class="fa-solid fa-xmark"></i>
  </button>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
